@model IEnumerable<CarRentalSystem.Models.Cars.CarListingModel>

@{
    var currentUserQuery = Request.QueryString["user"];
    var currentSearchQuery = Request.QueryString["search"];
    var carsOf = "Our cars";

    if (currentUserQuery != null && currentUserQuery != string.Empty)
    {
        carsOf = currentUserQuery + " cars";
    }

    if (currentSearchQuery != null && currentSearchQuery != string.Empty)
    {
        carsOf = "Cars search result from " + currentUserQuery + " cars" + " for search: \"" + currentSearchQuery + "\"";
    }

}

<h2 class="text-center mt-60">@carsOf - Page @ViewBag.CurrentPage</h2>

@if (!Model.Any())
{
    <h2 class="text-center">No more Cars</h2>
}

@using (Html.BeginForm("All", "Cars", FormMethod.Get))
{
<div class="text-right mt-60">
    <input type="text" class="form-control" name="search" style="display: inline-block" value="@Request.QueryString["search"]" />
    <input type="text" hidden="" name="user" value="@currentUserQuery"/>
    <input type="submit" value="Search" class="btn btn-primary" />
</div>
}

@foreach (var car in Model)
{
<div class="row mt-60">
    <div class="col-md-6">
        <img src="@car.ImageUrl" class="img-responsive" @(car.IsRented ? "style=opacity:0.5" : string.Empty) />
    </div>
    <div class="col-md-6">
        <h2>@car.Make @car.Model (@car.Year)</h2>
        <h3>@car.PricePerDay &#8364 / day</h3>
        <a href="/Cars/Details/@car.Id" class="btn @(car.IsRented ? "btn-default" : "btn-primary")">@(car.IsRented ? "Not Available" : "More")</a>
    </div>
</div>
}

@{
    var currentUser = currentUserQuery != null ? "&user=" + currentUserQuery : string.Empty;
    var currentSearch = currentSearchQuery != null ? "&search=" + currentUserQuery : string.Empty;
}

<p class="text-right">
    <a href="/Cars/All?page=@(ViewBag.CurrentPage - 1)@currentUser@currentSearch" class="btn btn-primary @(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)">Previous <<</a>
    <a href="/Cars/All?page=@(ViewBag.CurrentPage + 1)@currentUser@currentSearch" class="btn btn-primary @(!Model.Any() || Model.Count() < 5 ? "disabled" : string.Empty)">Next >></a>
</p>